name: Lab Workflow
on:
  workflow_dispatch:  
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        version: [8.0, 9.0]
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0
    
      - name: Setup .NET
        uses: actions/setup-dotnet@v5.0.0
        with:
          dotnet-version: ${{ matrix.version }}

      - name: Build Web-project
        run: dotnet build ShoppingList.Web

      - name: Run Test If Build Succeeds
        if: success()
        run: dotnet build ShoppingList.Tests
